version: '3.8'

services:
  api:
    build: .
    container_name: nest-api
    ports:
      - "3000:3000"
    env_file: .env
    environment:
      - NODE_ENV=development
    depends_on:
      - db
    volumes:
      - .:/usr/src/app
    command: npm run start:dev

  test:
    build: .
    container_name: nest-api-test
    env_file: .env
    depends_on:
      - db
    volumes:
      - .:/usr/src/app
    command: npm run test

  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: ${DB_USERNAME}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_DATABASE}
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

volumes:
  pgdata:
